html {
    margin: 0px;
    padding: 0;
    border-top-style: solid Orange;
    /* border-left-style: solid red;
    border-right-style: solid red; */
}



.border {
border-top-style: solid Orange;
border: 10px solid Yellow;
border-right-style: solid Green;
padding-bottom: 2em;
}

body { 
    text-align:center;
    margin: 0;   /* Remove body margins */
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); 
}

header {
    padding: 3em;
}

 /* My Awesome Todo List */
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 8.5em;
    font-weight:bolder;
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1px 0 0 #fff0, 0 -1px 0 #fff0, 0 1px 0 #fff0, -1px 0 0 rgba(255, 255, 255, 0.4);
}



/* Tasks -- Header */
h2 { 

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 5.25em;
    background-image: linear-gradient(to right, rgb(236, 236, 236), rgb(196, 196, 196), rgb(169, 169, 255), rgb(62, 236, 62), rgb(253, 207, 207), rgb(171, 171, 171), rgb(220, 220, 220));   -webkit-background-clip: text;
    color: transparent;
    
}


.input-wrapper {
    text-align: center;
    list-style-type: none;
    background-color: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); 
    padding: 1em;
    border-radius: 5px;
    display:flex;
    flex-direction: column;    
    
}

.taskNameCSS {
    font-size: 5em;
}

/*   SUBMIT BUTTON - Text -  SIZE  */
.buttonCSS {
    height: 7em;
    width: 10em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

/* bootstrap button */
.btn-lg {
    height: 5em;
    width: 10em; 
    background-image: linear-gradient(rgb(255, 0, 247), rgb(0, 255, 234)); -webkit-background-clip: text;
    border:white solid;
    border-width: .30em;
    font-weight: bold;
    font-size: 2em;
    background-image: linear-gradient(to right, rgb(177, 255, 221), rgb(249, 255, 161), rgb(134, 255, 237), rgb(62, 236, 62), rgb(218, 173, 250), rgb(135, 108, 242), rgb(212, 255, 232));   -webkit-background-clip: text;
    color: transparent;
}

input {
    font-size: 3em;
    background-image: linear-gradient(to right, rgb(177, 255, 221), rgb(249, 255, 161), rgb(134, 255, 237), rgb(62, 236, 62), rgb(218, 173, 250), rgb(135, 108, 242), rgb(212, 255, 232));   -webkit-background-clip: text;
    color: transparent;
    border: dashed white;
    border-width: 10px;
    text-align:center;

}

.input-row {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block   ;
    flex-wrap: wrap;
    flex-direction: row;
    padding: .5em;
    font-size: 1.75em;
    font-weight:bold;
    color:rgb(255, 255, 255);
  }


/* Unicorn */
.unicorn {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height:auto
}

.gifwrapper {
    display:inline;
}

.squidward {
    display:inline;
    width: 10%;
    height:auto
}


table {
    margin-left:auto;
    margin-right:auto;
}

th { /*    List Contents - Text -  Tasks Header Borders  */
    border: dashed white;
    border-width: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 7em;
    background-image: linear-gradient(to right, rgb(177, 255, 221), rgb(249, 255, 161), rgb(134, 255, 237), rgb(62, 236, 62), rgb(218, 173, 250), rgb(135, 108, 242), rgb(212, 255, 232));   -webkit-background-clip: text;
    color: transparent;
}

.taskList {
    border: dashed white;
    border-width: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 2.40em;
    background-image: linear-gradient(rgb(255, 0, 247), rgb(0, 255, 234));   -webkit-background-clip: text;
    color: transparent;
}