html {
    margin: 0px;
    padding: 0;
    border-top-style: solid Orange;
    scroll-behavior: smooth;
    /* border-left-style: solid red;
    border-right-style: solid red; */
}



.border {
border-top-style: solid Orange;
border: 10px solid Yellow;
border-right-style: solid Green;
}

body { 
    text-align:center;
    margin: 0;   /* Remove body margins */
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); 
}

::placeholder {
    background-image: linear-gradient(to right, rgb(236, 236, 236), rgb(255, 38, 38), rgb(92, 255, 252), rgb(83, 255, 83), rgb(253, 207, 207), rgb(171, 171, 171), rgb(220, 220, 220));   -webkit-background-clip: text;
    color: transparent;
}



 /* My Awesome Todo List */
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 8.5em;
    font-weight:bolder;
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1px 0 0 #fff0, 0 -1px 0 #fff0, 0 1px 0 #fff0, -1px 0 0 rgba(255, 255, 255, 0.4);
    box-shadow: rgba(98, 255, 197, 0.17) 0px -23px 25px 0px inset, #64ffea26 0px -36px 30px 0px inset, rgba(112, 241, 255, 0.1) 0px -79px 40px 0px inset, rgba(98, 255, 255, 0.06) 0px 2px 1px, rgba(107, 225, 255, 0.09) 0px 4px 2px, rgba(109, 240, 255, 0.09) 0px 8px 4px, rgba(116, 255, 246, 0.09) 0px 16px 8px, rgba(178, 106, 255, 0.09) 0px 32px 16px;
}



/* Tasks -- Header */
h2 { 

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 12.25em;
    background-image: linear-gradient(to right, rgb(236, 236, 236), rgb(255, 38, 38), rgb(92, 255, 252), rgb(83, 255, 83), rgb(253, 207, 207), rgb(171, 171, 171), rgb(220, 220, 220));   -webkit-background-clip: text;
    color: transparent;
    
}


.input-wrapper {
    text-align: center;
    list-style-type: none;
    background-color: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); 
    padding: 1em;
    border-radius: 5px;
    display:flex;
    flex-direction: column;    
    
}

.taskNameCSS {
    font-size: 6em;
}

/*   SUBMIT BUTTON - Text -  SIZE  */
.buttonCSS {
    height: 7em;
    width: 10em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
}

/* bootstrap button */
.btn-lg {
    height: 9em;
    width: 28em; 
    background-image: linear-gradient(rgb(255, 0, 247), rgb(0, 255, 234)); -webkit-background-clip: text;
    border:white solid;
    border-width: .30em;
    font-weight: bold;
    font-size: 2em;
    background-image: linear-gradient(to right, rgb(177, 255, 221), rgb(249, 255, 161), rgb(134, 255, 237), rgb(62, 236, 62), rgb(218, 173, 250), rgb(135, 108, 242), rgb(212, 255, 232));   -webkit-background-clip: text;
    color: transparent;
}

/* Task Input Box */
input {
    font-size: 4em;
    background-image: linear-gradient(to right, rgb(177, 255, 221), rgb(249, 255, 161), rgb(134, 255, 237), rgb(62, 236, 62), rgb(218, 173, 250), rgb(135, 108, 242), rgb(212, 255, 232));   -webkit-background-clip: text;
    color: transparent;
    border-bottom: dashed white;
    border-top: dashed white;
    border-width: 10px;
    text-align:center;
    width: 60%;

}

.colon{
    font-size: 6em;
    font-weight:bold;
    color:rgb(255, 255, 255); 
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.input-row {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block   ;
    flex-wrap: wrap;
    flex-direction: row;
    padding: .5em;
    font-size: 1.75em;
    font-weight:bold;
    color:rgb(255, 255, 255);
  }


/* Unicorn */
.unicorn {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height:auto;
    cursor: pointer;
}

.gifwrapper {
    display:inline;
    font-size: 2.75em;
    font-weight:bold;
    color:rgb(255, 255, 255);
    scroll-behavior: smooth;
}

.squidward {
    display:inline;
    width: 10%;
    height:auto;
    cursor: pointer;
}

.table-wrapper {
    display:grid;
}

table {
    margin-left:auto;
    margin-right:auto;
    border-collapse: separate;
    border-spacing: 10px 0;
}

/*    List Contents - Text -  Tasks Header Borders  */
th { 
    width: 1em; /* Change width of the task table*/
    border: dashed rgb(85, 91, 255) 0px 0px 0px 1.5px, rgb(31, 193, 27) 0px 0px 0px 3px, rgb(255, 217, 19) 0px 0px 0px 4.5px, rgb(255, 156, 85) 0px 0px 0px 6px, rgb(255, 85, 85) 0px 0px 0px 7.5px;;
    border-radius: 5px;
    border-width: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 10em;
    background-image: linear-gradient(to right, rgb(255, 177, 254), rgb(249, 255, 161), rgb(134, 255, 237), rgb(62, 236, 62), rgb(218, 173, 250), rgb(135, 108, 242), rgb(212, 255, 232));   -webkit-background-clip: text;
    color: transparent;

}

.table-header {
    box-shadow: rgba(98, 255, 197, 0.17) 0px -23px 25px 0px inset, #64ffea26 0px -36px 30px 0px inset, rgba(112, 241, 255, 0.1) 0px -79px 40px 0px inset, rgba(98, 255, 255, 0.06) 0px 2px 1px, rgba(107, 225, 255, 0.09) 0px 4px 2px, rgba(109, 240, 255, 0.09) 0px 8px 4px, rgba(116, 255, 246, 0.09) 0px 16px 8px, rgba(178, 106, 255, 0.09) 0px 32px 16px;
    /* box-shadow: rgba(85, 255, 238, 0.25) 0px 30px 60px -12px inset, rgba(111, 255, 238, 0.3) 0px 18px 36px -18px inset; */
}

/*  Task Table Data */
.taskList {
    cursor: pointer;
    border-radius: 5px;
    border-width: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 4.0em;
    background-image: linear-gradient(rgb(255, 0, 247), rgb(0, 255, 234));   -webkit-background-clip: text;
    color: transparent;
    box-shadow: rgba(104, 255, 154, 0.25) 0px 50px 100px -20px, rgba(93, 255, 217, 0.3) 0px 30px 60px -30px, #45ffa559 0px -2px 6px 0px inset; 
}

.pikachu {
    height:auto;
    width: 25%;
    cursor: pointer;
}